/*****************TAG SELECTORS*************/
body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #171717;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  color: #171717;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto Mono', monospace;
  line-height: 2;
}

hr {
  border: dotted #EAF6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

a {
  color: #11999F;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

/*div {
  background-color: #F6F6F6;
}
*/

/*****************CLASS SELECTORS*************/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profilepic {
  border-radius: 4px;
  width: 10%;
  display: block;
  margin: 10px auto auto auto;
}

.intro {
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 75px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.pro {
  text-decoration: underline;
}

.Adobe-Creative {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.Cinematographer {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 40px auto;
}

.BUTTON_XDP {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   padding: 15px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_XDP:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
